<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head" />

<body>
<nav th:replace="fragments/nav"/>

    <div class="container" id="main-container">
        <h2>Crea una nueva oferta</h2>

        <form class="form-horizontal" method="post" action="/offer/add" th:object="${offer}">
            <div class="form-group">
                <label class="control-label col-sm-2" for="title" th:text="#{offer.add.title.label}"> bad label </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" name="title"
                           th:placeholder="#{offer.add.title.placeholder}" required="true"/>

                    <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="description" th:text="#{offer.add.description.label}"> bad label </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="description" name="description"
                           th:placeholder="#{offer.add.description.placeholder}" required="true"/>

                    <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="price" th:text="#{offer.add.price.label}"> bad label </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="price" name="price"
                           th:placeholder="#{offer.add.price.placeholder}" required="true"/>

                    <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{button.submit}">Enviar</button>
                </div>
            </div>

        </form>

    </div>



    <nav th:replace="fragments/footer"/>
</body>

</html>