<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head"/>

<body>
<nav th:replace="fragments/nav"/>

<div class="container" id="main-container">
    <h2 th:text="#{offer.search.h2}"></h2>
    <p th:text="#{offer.search.money}"></p>
    <p th:fragment="tableOffers" th:text="${user.money}"></p>
    <!-- Formulario de Búsqueda-->
    <form class="form-inline" action="/offer/search">
        <div class="form-group">
            <input name="searchText" type="text" class="form-control" size="50"
            th:placeholder="#{offer.search.placeholder}">
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{button.search}"></button>
    </form>

    <div class="table-responsive">
        <table class="table table-hover" th:fragment="tableOffers" id="tableOffers">
            <thead>
                <tr>
                    <th scope="col" th:text="#{offer.search.table.id}"> id </th>
                    <th scope="col" th:text="#{offer.search.table.title}"> titulo </th>
                    <th scope="col" th:text="#{offer.search.table.desc}"> descripcion </th>
                    <th scope="col" th:text="#{offer.search.table.price}"> precio </th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="offer : ${offerList}">
                    <td th:text="${offer.id}"></td>
                    <td th:text="${offer.title}"></td>
                    <td th:text="${offer.description}"></td>
                    <td th:text="${offer.price}"></td>
                    <td>
                        <div th:if="${offer.buyed}">
                        <a th:text="#{offer.buyed}">Comprada</a>
                        </div>
                        <div th:unless="${offer.buyed}">
                            <button type="button" th:id="${'buyButton' + offer.id}"
                                    class="btn btn-success" th:text="#{offer.buy}">Comprar</button>
                            <script th:inline="javascript">
                                /*<![CDATA[*/
                                $( "#buyButton"+ "[[${offer.id}]]").click(function() {
                                    $.get( "/offer/buy/[[${offer.id}]]", function( data ) {
                                        $("#tableOffers").load('/offer/search/update');
                                    });
                                });
                                /*]]>*/
                            </script>
                        </div>
                    </td>
                    <td><a th:id="${'conversation' + offer.id}" th:href="${'/conversation/add/' + offer.id}" th:text="#{conversation.add}"></a></td>
                </tr>
            </tbody>
        </table>
        <span id="errorPrecio" class="text-danger" th:fragment="tableOffers" th:if="${buyError}" th:text="#{all.offer.errorbuy}">Tu dinero debe ser superior al precio</span>
    </div>
    <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>